@CHARSET "UTF-8";

/* V4 */

#grid{
    padding: 10px;
    border-radius: 4px;
    background-color: #000;
    position:relative;
}

.pixel{
    background-color: #000;
    float: left;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 50%;
}

#colorPalette{
    padding: 10px;
    background-color: white;
    border: 3px solid #888;
    border-radius: 8px;
    display: inline-block;
    text-align: center;
}

.colorBox{
    width: 61px;
    height: 61px;
    display: inline-block;
    box-sizing: border-box;
    border: 2px dashed #555;
    transition: border-radius .5s;
}

.selected{
    border-radius: 50%;
}

#noDraw{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    display:none;
}

#color1{
    background-image: radial-gradient(circle, white, black);
}

#color2{
    background-image: radial-gradient(circle, black, black);
}

#color3{
    background-image: radial-gradient(circle, red, black);
}
#color4{
    background-image: radial-gradient(circle, #08c, black);
}
#color5{
    background-image: radial-gradient(circle, #0a0, black);
}
#color6{
    background-image: radial-gradient(circle, #f90, black);
}
#color7{
    background-image: radial-gradient(circle, #c00, black);
}
#color8{
    background-image: radial-gradient(circle, #00c, black);
}

